doctype html
html(lang="en")
  head
    title Back Blog
    block head
  body
    block content
    block scripts
      script(src="scripts/vendor/jquery/dist/jquery.js")
      script(src="scripts/vendor/underscore/underscore.js")
      script(src="scripts/vendor/backbone/backbone.js")
