extends layouts/main.jade

block head

body
  append content
    #main
  append scripts
    script(type="text/template",id="commentFormView").
      <input type="text" id="cmtName" placeholder="name" />
      <br>
      <textarea id="cmtText"></textarea>
      <br>
      <button id="submitComment"> Submit </button>
    script(type="text/template",id="commentView").
      <hr>
      <p><strong><%= name %></strong> said on <%= date %></p>
      <p><%= text %></p>
    script(type="text/template",id="postFormView").
      <a href="/">All Posts</a>
      <br>
      <textarea id="postText"></textarea>
      <br>
      <button id="submitPost"></button>
    script(type="text/template",id="postView").
      <a href='/'>All Posts</a>
      <h1><%= title %></h1>
      <p><%= pubDate %></p>
      <%= content %>
    script(src="/scripts/app.js")
    script.
      var postRouter = new PostRouter({
        posts: new Posts(!{posts}),
        main: $(main)
      });
      Backbone.history.start({pushState: true});

